
.pokemon-btn {
  background-color: #EE8329;
  border: none;
  color: black;
  display: flex;
  margin: 4px auto;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.pokemon-list{
  margin: 100px 50px;
}

.pokemon-btn:hover {
  background-color: #C4A484;
  color: white;
  cursor: pointer;
}

.modal-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto;
}

.modal-body, .modal-header, .modal-footer {
  background-color: lightgray;
}